body {
  background: rgb(0, 0, 0) url(images/fon.jpg);
  /*background: rgb(56, 56, 56);*/
  color: rgb(255, 255, 255);  
  background-repeat: repeat-y;
  background-size: 190%;

}

h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Unbounded', cursive;
    
  }
.h1p {
  padding-right: 400px;
  font-size: 60px;
  padding-top: 30px;
}

h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 40px;
  text-align: left;
  font-family: 'Unbounded', cursive;
 }  

.h2p {
  padding-right: 100px;
  padding-top: 20px;
}
.h2p1 {
  position: relative;
  top:1000px;
  left:0px;
}
a {
  color:rgb(189, 189, 189);
  cursor: pointer;
}

p{
  color: rgb(255, 255, 255);
  text-align: left;
  margin: auto;
  font-size: 23px;
  font-family: 'Overpass', sans-serif;
}

.p1p {
  padding-bottom: 10px;
  padding-left: 210px;
  padding-right: 0px;
  padding-top: 0px;
}
.p2p {
  position: relative;
  left: 100%;
}

.bh1 {
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 200px;
  padding-top: 0px;
  margin: auto;
  font-size: 23px;
}

.box {
  background-color: #383838;
  width: 100%;
  height: 400px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1000px;
  border-radius: 20px;
}
.text {
  width: 50%;
  height: 400px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 500px;

}

.hbox {
  background-color: #383838;
  width: 100%;
  height: 290px;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1300px;
  border-radius: 15px;
}

.img1pos {
  scale: 35%;
  top: -420px;
  left: 115px;
  position: relative;
  border-radius: 20px;
}
.img2pos {
  scale: 35%;
  top: -470px;
  left: 115px;
  position: relative;
  border-radius: 20px;
}
.img3pos {
  scale: 35%;
  top: -450px;
  left: 115px;
  position: relative;
  border-radius: 20px;
}
.img4pos {
  scale: 35%;
  top: -450px;
  left: 115px;
  position: relative;
  border-radius: 20px;
}
.btn-block {
  display: block;
  width: 45%;

}
.btn-primary {
  color: #fff;
  background-color: #4384d0;
  border-color: #4384d0;

}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 10px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 40px;
  line-height: 5;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Overpass', sans-serif;
}
.btn1p {
  top: 0px;
  left: 0px;
  position: relative;
}

.footer {
  background-color: #3b3b3b8a;
   position: fixed;
   right: 0;
   bottom: 0;
   text-align: center; 
   width: 100%;
   height:50px;   
   font-size: 19px;
  font-weight: bold;
  color: #fafaff;  
  font-family: 'Overpass', sans-serif;
  font-size: 20px;
  vertical-align: middle
 }

 .txt {
  position:relative;
  top: 35%;
}